<head>
	<meta charset="utf-8">
</head>
<script>

</script>
<div class="container-fluid">

    <!-- begin PAGE TITLE AREA -->
    <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Gerente
                    <small class="subtitulo">Cadastrar novo gerente</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
                    <li class="active subtitulo">Cadastrar Gerente</li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
        
        <div class="col-lg-12">

        	    <form accept-charset="UTF-8" role="form" id="gerenteForm">
			        <fieldset>
			        	<input type="hidden" name="idPessoa" id="idPessoa" value="" />
			        	<div class="form-group">
			                <input class="form-control" placeholder="Nome" name="nome" id="nome" type="text" required="required" />
			            </div>
			            <div class="form-group">
			                <select class="form-control" placeholder="Sexo" name="sexo" id="sexo" required="required">
			                    <option value="M">Masculino</option>
			                    <option value="F">Feminino</option>
			                </select>
			            </div>
			            <div class="form-group">
			                <select class="form-control" placeholder="Estado Civil" name="sitCivil" id="sitCivil" required="required">
			                    <option value="C">Casado</option>
			                    <option value="S">Solteiro</option>
			                </select>
			            </div>
			            <div class="form-group">
			                <input class="form-control" placeholder="Data de Nascimento" type="text" name="dataNascimento" id="dataNascimento" required="required" />
			            </div>
			            <div class="form-group">
			                <input class="form-control" placeholder="CPF" type="text" name="cpf" id="cpf" required="required" />
			            </div>
			            <div class="form-group">
			                <input class="form-control" placeholder="RG" name="rg" id="rg" type="text" required="required" />
			            </div>
			            <div class="form-group">
			                <input class="form-control" placeholder="Telefone" name="telefone" id="telefone" type="text" required="required" />
			            </div>
			            <div class="form-group">
			                <input class="form-control" placeholder="Celular" name="celular" id="celular" type="text" required="required" />
			            </div>
			            <div class="form-group">
			                <input class="form-control" placeholder="E-mail" name="email" id="email" type="text" required="required" />
			            </div>
			            <div class="form-group">
			                <input class="form-control" placeholder="Página pessoal" name="pagPessoal" id="pagPessoal" type="text" required="required" />
			            </div>
			            <div class="form-group">
			                <input class="form-control" placeholder="Mensagem Instantânea" name="msgInst" id="msgInst" type="text" required="required" />
			            </div>
			            <hr />
			            <div class="form-group">
			                <input class="form-control" placeholder="Usuário" name="login" id="login" type="text" required="required" />
			            </div>
			            <div class="form-group">
			                <input class="form-control" placeholder="Senha" name="senha" id="senha" type="password" value="" required="required" />
			            </div>
			            <br>
			            <input type="submit" class="btn btn-lg btn-green btn-cadastrar-usuario" value="Cadastrar" />
			        </fieldset>
			    </form>
			    
        </div>
    </div>
    <!-- /.row -->
    <!-- end PAGE TITLE AREA -->


</div>
<!-- /.page-content -->

<script src="resources/js/appController.js"></script>